# Basic
TOKEN=DISCORD_TOKEN
CHAT_BID=SECRET_BRAINSHOPAI_ID
CHAT_KEY=SECRET_BRAINSHOPAI_KEY

# Music System
GENIUS_TOKEN=SECRET_GENIUS_TOKEN
SPOTIFYID=SECRET_SPOTIFY_ID
SPOTIFYSECRET=SECRET_SPOTIFY_SECRET

# Database
MONGOOSEURL=mongodb://localhost:27017/
REDIS_URL=redis://default:SECRET@HOST:PORT/0

# Other
STATCORDAPIKEY=statcord.com-SECRET_STATCORD_API_KEY
NODE_ENV=production
