// Buttons //
@use "../config" as *;

.btn {
  padding: 7px 20px;
  font-size: 14px;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
  touch-action: manipulation;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  will-change: opacity, transform;

  &:hover {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
  }

  i {
    margin-inline-end: 16px;
    font-size: 20px;
    vertical-align: bottom;
  }

  .disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.15);

    &:hover {
      cursor: not-allowed;
    }
  }
}

.btn-info {
  background-color: transparent;
  border-color: var(--bs-primary);
  color: white;
  box-shadow: 0 10px 20px -10px #59a6ff;

  &:hover {
    // linear-gradient(180deg, #5561FF 0%, #3643FC 100%, #3643FC 100%);
    background-color: #3643FC;
  }
}

.btn-primary {
  background-color: transparent;
  border-color: var(--bs-primary);
  color: white;
  box-shadow: 0 10px 20px -10px var(--bs-primary);

  &:hover {
    background-color: var(--bs-primary);
  }
}

.btn-secondary {
  background-color: transparent;
  border-color: var(--bs-secondary);
  color: white;
  box-shadow: 0 10px 20px -10px var(--bs-secondary);

  &:hover {
    background-color: var(--bs-secondary);
  }
}

.btn-gray {
  background-color: transparent;
  border-color: var(--bs-gray-700);
  color: white;
  box-shadow: 0 10px 20px -10px var(--bs-gray-700);

  &:hover {
    background-color: var(--bs-gray-700);
  }
}
