@use "./config" as *;

//-- Components --//
@use 'components/buttons';
@use 'components/mixins';
@use 'components/text';

//-- Sections --//
@use 'sections/navbar';
@use 'sections/hero';
@use 'sections/services';
@use 'sections/reviews';
@use 'sections/footer';

::-webkit-scrollbar {
    width: 10px;
    background: $primary;
}

::-webkit-scrollbar-thumb {
    background: $secondary;
}

::-webkit-scrollbar-thumb:hover {
    background: $secondary;
}