@use "./config" as *;

//-- Components --//
@use "components/buttons";
@use "components/mixins";
@use "components/text";
@use "components/dropdowns";
@use "components/icons";
@use "components/gradients";

//-- Fonts --//
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root {
  --sparkv-dark: #0a1227;
  --sparkv-dark-2: rgba(0, 10, 35, 0.3);
  --sparkv-light: rgb(255, 255, 255, .6);
  --sparkv-color: #0d1014;
  --sparkv-color-2: rgba(255,255,255, 0.05);
  --sparkv-yellow: #dee03b;
}

body {
  background: var(--sparkv-dark) !important;
  font-family: Satoshi-Regular, sans-serif;
}

a {
  color: rgba(255, 255, 255, 0.55) !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out !important;
  text-decoration: none !important;
}

a:hover {
  color: white !important;
}

::-webkit-scrollbar {
    width: 10px;
    background: $primary;
}

::-webkit-scrollbar-thumb {
    background: $secondary;
}

::-webkit-scrollbar-thumb:hover {
    background: $secondary;
}
